* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b2/Skyscrapers_of_Shinjuku_2009_January.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container {
  width: 1320px;
  padding: 0px 16px;
  margin: auto;
  height: 100vh;
}
.boards {
  display: flex;
  gap: 16px;
  padding: 120px 0px;
}
.board {
  flex: 1;
  flex-basis: 0;
  height: fit-content;
  background-color: #ebecf0;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: relative;
  overflow: hidden;
}
.header {
  padding: 8px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 12px;
}
.count {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card {
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  cursor: grab;
  display: flex;
  gap: 12px;
}
.cardd {
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  cursor: grab;
  display: flex;
  gap: 12px;
}
.actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.Priority {
  width: fit-content;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
.details {
  flex: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.done {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.img {
  width: 18px;
  height: 18px;
  color: black;
}
.addBtn {
  display: flex;
  gap: 16px;
  align-items: center;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}
.deleteBtn {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.edit {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.deleteI {
  width: 10px;
  height: 10px;
}
.editI {
  width: 10px;
  height: 10px;
}
.addBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.away {
  width: 100%;
  height: 100%;
}
.modal {
  display: flex;
  position: absolute;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  width: 400px;
  flex-direction: column;
  gap: 16px;
}
.modalContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.div {
  display: block;
}
.titleInput {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.titleP {
  display: none;
  color: red;
  font-size: 12px;
  padding: 4px 12px;
}
.despP {
  display: none;
  color: red;
  font-size: 12px;
  padding: 4px 12px;
}

.despInput {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  resize: none;
  height: 100px;
}
.despLabel {
  font-size: 14px;
}
.statusSelect {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.prioritySelect {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.addTaskBtn {
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #000;
  color: white;
  cursor: pointer;
  margin-top: 24px;
}
